@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
 
}
  
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 241, 245, 249;
  --background-end-rgb: 241, 245, 249;

  --scrollbar-track-color: #ffffff;
  --scrollbar-thumb-color: #d4d4d4;
  --scrollbar-thumb-border-color: #ffffff;
  --scrollbar-thumb-hover-color: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --scrollbar-track-color: #1c1f27;
    --scrollbar-thumb-color: #242424;
    --scrollbar-thumb-border-color: #1c1f27;
    --scrollbar-thumb-hover-color: #333;
  }
}

html, body,:root {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
  /* height: 16px; */
}

/* Track */
::-webkit-scrollbar-track {
  /* background: var(--scrollbar-track-color, #ffffff); Default light theme color */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, #000); /* Default light theme color */
  border-radius: 100vh;
  border: 3px solid var(--scrollbar-thumb-border-color, #ffffff); /* Default light theme color */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color, #555); /* Default light theme color */
}
/* .scroll-container {
  scrollbar-width: thin;
  background: transparent;
} */


.scroll-container::-webkit-scrollbar {
  scrollbar-width: thin;
  display: none;
   /* Hide the scrollbar in WebKit browsers (like Chrome and Safari) */
}



.textWrap {
  text-wrap: balance;
}

/* (https://dub.sh) */
.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  /* background-image: url("/assets/images/grid.svg"); */
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

.bg {
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
}
.text {
  background: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Make the text transparent */
}
@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.hover-rotate {
  transform: rotateY(0deg); /* Initial rotation (no rotation) */
  transition: transform 1s ease-in-out; /* Set transition for smooth animation */
}

.hover-rotate:hover {
  transform: rotateY(360deg); /* Apply the desired rotation angle on hover */
}

.animate_gradient {
  animation: gradientAnimation 10s infinite alternate; /* Animate the background */
}

/* styles.css (or your CSS file) */

.move-up {
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}


@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.app_wrap {
  @apply pt-20 h-screen duration-300 transition-all
}

.t-app {
  @apply sm:ml-[75px] sm:mt-20 ml-[50px] mt-10 md:px-2 pb-10 transition-all ease-in-out duration-300 w-full sm:max-w-full
}
.black_btn {
  @apply rounded-full border-1 border-slate-700  bg-black py-1.5 px-5 text-white transition-all dark:hover:bg-main-dark-bg hover:text-white text-center text-sm tracking-widest font-inter flex items-center justify-center;
}
.variant_btn {
  @apply py-2 px-6  rounded-full border-1  dark:border-slate-800 border-slate-300 duration-500 transition-all hover:text-white   hover:bg-white hover:dark:bg-main-dark-bg
}
.variant_side_btn {
  @apply sm:p-2 p-1.5 rounded-xl border-1  dark:border-slate-600  border-black duration-500 transition-all hover:dark:text-white  hover:text-slate-900 hover:bg-white hover:dark:bg-main-dark-bg
}

.outline_btn {
  @apply rounded-full border-1 drop-shadow-md bg-transparent py-3 px-5 text-black transition-all duration-500 hover:bg-slate-200 dark:hover:bg-slate-900  text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply text-2xl font-extrabold dark:text-white drop-shadow-md text-black;
}

.logo_text {
  @apply  font-satoshi font-semibold tracking-wide;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-emerald-400  to-emerald-600 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply  text-sm dark:text-gray-300 text-gray-700  sm:text-base ;
}

.search_input {
  @apply block w-full rounded-full border dark:border-slate-900 border-gray-200 dark:bg-black bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black dark:focus:border-gray-500 focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-lg flex justify-center items-center cursor-pointer hover:dark:bg-slate-600 transition-all duration-150;
}

.glassmorphism {
  @apply backdrop-filter  shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */

.dropdown {
  @apply z-[1000] absolute right-0 top-full mt-3 w-full p-5 rounded-lg  dark:bg-black bg-white/90 min-w-[50px] flex flex-col gap-2 justify-end items-center border-1 dark:border-slate-800 border-slate-200 backdrop-blur-md;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.fixed_position {
  @apply fixed transform -translate-x-1/2 left-1/2 w-full
}

.grid_setup {
  @apply grid gap-3 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4
}

.flex-center {
  @apply flex justify-start items-center;
}
.flex-c-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
      
